doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Strings
    link(rel='stylesheet', href='./css/drill-1.css')
  body
    h1 Strings

    input#first
    input#last
    input#movie

    button#go Make String

    #output

    script(src='./js/vendor/traceur.js')
    script(src='./js/vendor/experimental.js')
    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/vendor/lodash-2.4.1.js')
    script(src='./js/vendor/moment-2.6.0.js')
    script(src='./js/es6/drill-1.js')
