doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Critics Love
    link(rel='stylesheet', href='./css/drill-6.css')
  body
    h1 Critics Love

    input#numOfMovies(placeholder='Number of Movies')
    input#score(placeholder='Score')

    button#get Get!

    script(src='./js/vendor/traceur.js')
    script(src='./js/vendor/experimental.js')
    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/vendor/lodash-2.4.1.js')
    script(src='./js/vendor/moment-2.6.0.js')
    script(src='./js/es6/drill-6.js')
